.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Opcional, para centrar las tarjetas */
  }
  
  /* .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  } */
  